*{
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
}

.list-group-item.done{
    color: grey;
    text-decoration: line-through;
}

#task-list{
    margin: 5px 0;
}
.task{
    margin-left: 5px;
}